<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace 表示对应的java接口-->
<mapper namespace="com.zz.mapper.ZxjMapper">
    <select id="queryZxjByPage" resultType="com.zz.entities.Zxj">
        select * from zxj where 1=1
        <if test="name != null and name != ''">
            and zxj_name like #{name}
        </if>
        and work_id = #{userId}
        limit #{page},#{limit}
    </select>

    <select id="count" resultType="com.zz.entities.Zxj">
        select count(*) counts from zxj where 1=1
        <if test="name != null and name != ''">
            and zxj_name like #{name}
        </if>
        and work_id = #{userId}
    </select>
</mapper>